<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hl.p2p.mapper.AccountflowMapper" >
  <resultMap id="BaseResultMap" type="com.hl.p2p.pojo.Accountflow" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="accountActionType" property="accountactiontype" jdbcType="TINYINT" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="note" property="note" jdbcType="VARCHAR" />
    <result column="balance" property="balance" jdbcType="DECIMAL" />
    <result column="freezed" property="freezed" jdbcType="DECIMAL" />
    <result column="actionTime" property="actiontime" jdbcType="TIMESTAMP" />
    <result column="account_id" property="accountId" jdbcType="BIGINT" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from accountflow
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hl.p2p.pojo.Accountflow" >
    insert into accountflow (id, accountActionType, amount, 
      note, balance, freezed, 
      actionTime, account_id)
    values (#{id,jdbcType=BIGINT}, #{accountactiontype,jdbcType=TINYINT}, #{amount,jdbcType=DECIMAL}, 
      #{note,jdbcType=VARCHAR}, #{balance,jdbcType=DECIMAL}, #{freezed,jdbcType=DECIMAL}, 
      #{actiontime,jdbcType=TIMESTAMP}, #{accountId,jdbcType=BIGINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.hl.p2p.pojo.Accountflow" >
    update accountflow
    set accountActionType = #{accountactiontype,jdbcType=TINYINT},
      amount = #{amount,jdbcType=DECIMAL},
      note = #{note,jdbcType=VARCHAR},
      balance = #{balance,jdbcType=DECIMAL},
      freezed = #{freezed,jdbcType=DECIMAL},
      actionTime = #{actiontime,jdbcType=TIMESTAMP},
      account_id = #{accountId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, accountActionType, amount, note, balance, freezed, actionTime, account_id
    from accountflow
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, accountActionType, amount, note, balance, freezed, actionTime, account_id
    from accountflow
  </select>
</mapper>