<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hl.p2p.mapper.BidrequestMapper">
  <resultMap id="BaseResultMap" type="com.hl.p2p.pojo.Bidrequest">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="bidRequestType" jdbcType="TINYINT" property="bidrequesttype" />
    <result column="bidRequestState" jdbcType="TINYINT" property="bidrequeststate" />
    <result column="bidRequestAmount" jdbcType="DECIMAL" property="bidrequestamount" />
    <result column="currentRate" jdbcType="DECIMAL" property="currentrate" />
    <result column="monthes2Return" jdbcType="TINYINT" property="monthes2return" />
    <result column="bidCount" jdbcType="INTEGER" property="bidcount" />
    <result column="totalRewardAmount" jdbcType="DECIMAL" property="totalrewardamount" />
    <result column="currentSum" jdbcType="DECIMAL" property="currentsum" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="disableDate" jdbcType="TIMESTAMP" property="disabledate" />
    <result column="disableDays" jdbcType="TINYINT" property="disabledays" />
    <result column="minBidAmount" jdbcType="DECIMAL" property="minbidamount" />
    <result column="applyTime" jdbcType="TIMESTAMP" property="applytime" />
    <result column="publishTime" jdbcType="TIMESTAMP" property="publishtime" />
    <result column="return_type" jdbcType="TINYINT" property="returnType" />

    <association property="createuser" javaType="com.hl.p2p.pojo.Logininfo" columnPrefix="u_">
      <id column="id" property="id"/>
      <result column="username" property="username"/>
    </association>

    <collection property="bids" ofType="com.hl.p2p.pojo.Bid" select="com.hl.p2p.mapper.BidMapper.selectBidList" column="id">
    </collection>
  </resultMap>
  <insert id="insert" parameterType="com.hl.p2p.pojo.Bidrequest">
    insert into bidrequest (id, version, bidRequestType, 
      bidRequestState, bidRequestAmount, currentRate, 
      monthes2Return, bidCount, totalRewardAmount, 
      currentSum, title, description, 
      note, disableDate, createuser_id, 
      disableDays, minBidAmount, applyTime, 
      publishTime, return_type)
    values (#{id,jdbcType=BIGINT}, 0, #{bidrequesttype,jdbcType=TINYINT},
      #{bidrequeststate,jdbcType=TINYINT}, #{bidrequestamount,jdbcType=DECIMAL}, #{currentrate,jdbcType=DECIMAL}, 
      #{monthes2return,jdbcType=TINYINT}, #{bidcount,jdbcType=INTEGER}, #{totalrewardamount,jdbcType=DECIMAL}, 
      #{currentsum,jdbcType=DECIMAL}, #{title,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{note,jdbcType=VARCHAR}, #{disabledate,jdbcType=TIMESTAMP}, #{createuser.id,jdbcType=BIGINT},
      #{disabledays,jdbcType=TINYINT}, #{minbidamount,jdbcType=DECIMAL}, #{applytime,jdbcType=TIMESTAMP}, 
      #{publishtime,jdbcType=TIMESTAMP}, #{returnType,jdbcType=TINYINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.hl.p2p.pojo.Bidrequest">
    update bidrequest
    set version = version + 1,
      bidRequestType = #{bidrequesttype,jdbcType=TINYINT},
      bidRequestState = #{bidrequeststate,jdbcType=TINYINT},
      bidRequestAmount = #{bidrequestamount,jdbcType=DECIMAL},
      currentRate = #{currentrate,jdbcType=DECIMAL},
      monthes2Return = #{monthes2return,jdbcType=TINYINT},
      bidCount = #{bidcount,jdbcType=INTEGER},
      totalRewardAmount = #{totalrewardamount,jdbcType=DECIMAL},
      currentSum = #{currentsum,jdbcType=DECIMAL},
      title = #{title,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR},
      disableDate = #{disabledate,jdbcType=TIMESTAMP},
      createuser_id = #{createuser.id,jdbcType=BIGINT},
      disableDays = #{disabledays,jdbcType=TINYINT},
      minBidAmount = #{minbidamount,jdbcType=DECIMAL},
      applyTime = #{applytime,jdbcType=TIMESTAMP},
      publishTime = #{publishtime,jdbcType=TIMESTAMP},
      return_type = #{returnType,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT} AND version =#{version}
  </update>
  <sql id="base_column">
    b.id, b.version, b.bidRequestType, b.bidRequestState, b.bidRequestAmount, b.currentRate,
    b.monthes2Return, b.bidCount, b.totalRewardAmount, b.currentSum, b.title, b.description, b.note,
    b.disableDate, b.disableDays, b.minBidAmount, b.applyTime, b.publishTime, b.return_type,
    u.id AS u_id,u.username AS u_username
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select <include refid="base_column"/>
    from bidrequest b
    LEFT JOIN logininfo u ON b.createuser_id=u.id
    where b.id = #{id,jdbcType=BIGINT}
  </select>
  <sql id="where">
    <where>
      <if test="quertState==1">
        AND b.bidRequestState = #{bidrequeststate}
      </if>
      <if test="quertState==2">
       AND b.bidRequestState IN(1,7,4,5)
      </if>
    </where>
  </sql>

  <select id="selectPage" resultMap="BaseResultMap" parameterType="com.hl.p2p.query.BidRequestQueryObject">
    SELECT <include refid="base_column"/>
    from bidrequest b
    LEFT JOIN logininfo u ON b.createuser_id=u.id
    <include refid="where"/>
    ORDER BY b.bidRequestState ASC LIMIT #{start},#{pageSize}
  </select>

  <select id="selectCount" resultType="java.lang.Integer">
    SELECT COUNT(id) FROM bidrequest
    <include refid="where"/>
  </select>

</mapper>