<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hl.p2p.mapper.BidrequestaudithistoryMapper" >
  <resultMap id="BaseResultMap" type="com.hl.p2p.pojo.Bidrequestaudithistory" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="auditTime" property="audittime" jdbcType="TIMESTAMP" />
    <result column="applyTime" property="applytime" jdbcType="TIMESTAMP" />
    <result column="bidRequestId" property="bidrequestid" jdbcType="BIGINT" />
    <result column="auditType" property="audittype" jdbcType="TINYINT" />

    <association property="applier" javaType="com.hl.p2p.pojo.Logininfo" columnPrefix="ap_">
      <id column="id" property="id"/>
      <result column="username" property="username"/>
    </association>

    <association property="auditor" javaType="com.hl.p2p.pojo.Logininfo" columnPrefix="au_">
      <id column="id" property="id"/>
      <result column="username" property="username"/>
    </association>
  </resultMap>

  <insert id="insert" parameterType="com.hl.p2p.pojo.Bidrequestaudithistory" >
    insert into bidrequestaudithistory (id, remark,
      auditTime, applyTime, auditor_id, 
      applier_id, bidRequestId, auditType
      )
    values (#{id,jdbcType=BIGINT}, #{remark,jdbcType=VARCHAR},
      #{audittime,jdbcType=TIMESTAMP}, #{applytime,jdbcType=TIMESTAMP}, #{auditor.id,jdbcType=BIGINT},
      #{applier.id,jdbcType=BIGINT}, #{bidrequestid,jdbcType=BIGINT}, #{audittype,jdbcType=TINYINT}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.hl.p2p.pojo.Bidrequestaudithistory" >
    update bidrequestaudithistory
    set remark = #{remark,jdbcType=VARCHAR},
      auditTime = #{audittime,jdbcType=TIMESTAMP},
      applyTime = #{applytime,jdbcType=TIMESTAMP},
      auditor_id = #{auditor.id,jdbcType=BIGINT},
      applier_id = #{applier.id,jdbcType=BIGINT},
      bidRequestId = #{bidrequestid,jdbcType=BIGINT},
      auditType = #{audittype,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectAll" resultMap="BaseResultMap" >
    select r.id, r.remark, r.auditTime, r.applyTime, r.auditor_id, r.applier_id, r.bidRequestId,
    r.auditType , ap.id as ap_id ,ap.username as ap_username ,
	au.id as au_id ,au.username as au_username FROM  bidrequestaudithistory r
    JOIN logininfo ap ON r.applier_id = ap.id
    LEFT JOIN logininfo au ON r.auditor_id =au.id
  </select>
</mapper>