<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hl.p2p.mapper.IplogMapper" >
  <resultMap id="BaseResultMap" type="com.hl.p2p.pojo.Iplog" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="loginState" property="loginstate" jdbcType="TINYINT" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="loginInfoId" property="logininfoid" jdbcType="BIGINT" />
    <result column="loginType" property="logintype" jdbcType="TINYINT" />
    <result column="loginTime" property="logintime" jdbcType="TIMESTAMP" />
  </resultMap>

  <insert id="insert" parameterType="com.hl.p2p.pojo.Iplog" >
    insert into iplog (id, ip, loginState, 
      username, loginInfoId, loginType, 
      loginTime)
    values (#{id,jdbcType=BIGINT}, #{ip,jdbcType=VARCHAR}, #{loginstate,jdbcType=TINYINT}, 
      #{username,jdbcType=VARCHAR}, #{logininfoid,jdbcType=BIGINT}, #{logintype,jdbcType=TINYINT}, 
      #{logintime,jdbcType=TIMESTAMP})
  </insert>

  <sql id="base_column">
    id, ip, loginState, username, loginInfoId, loginType, loginTime
  </sql>
  <select id="selectByuseName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select <include refid="base_column"/>
    from iplog
    where username = #{username}
  </select>

  <select id="selectByusernameLogLast" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT  <include refid="base_column"/>
     FROM iplog WHERE username = #{username} ORDER BY id DESC LIMIT 1
  </select>

  <sql id="condition">
    <where>
      <if test="beginDate!=null">
        AND loginTime &gt;= #{beginDate}
      </if>
      <if test="endDate!=null">
        AND loginTime &lt;= #{endDate}
      </if>
      <if test="state>-1">
        AND  loginState = #{state}
      </if>
      <if test="userType>-1">
        AND  loginType = #{userType}
      </if>
      <if test="username!=null">
        AND username = #{username}
      </if>
    </where>
  </sql>

  <select id="selectAll" resultMap="BaseResultMap" resultType="com.hl.p2p.query.IpLogQueryObject">
    SELECT <include refid="base_column"/>
     FROM iplog
    <include refid="condition"/>
    ORDER BY loginTime DESC LIMIT #{start},#{pageSize}
  </select>

  <select id="selectCount" resultType="java.lang.Integer" parameterType="com.hl.p2p.query.IpLogQueryObject">
    SELECT COUNT(id) FROM iplog <include refid="condition"/>
  </select>
</mapper>