<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hl.p2p.mapper.MoneywithdrawMapper" >
  <resultMap id="BaseResultMap" type="com.hl.p2p.pojo.Moneywithdraw" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="banknumber" property="banknumber" jdbcType="VARCHAR" />
    <result column="bankforkname" property="bankforkname" jdbcType="VARCHAR" />
    <result column="bankName" property="bankname" jdbcType="VARCHAR" />
    <result column="realName" property="realname" jdbcType="VARCHAR" />
    <result column="moneyAmount" property="moneyamount" jdbcType="DECIMAL" />
    <result column="state" property="state" jdbcType="TINYINT" />
    <result column="chargeFee" property="chargefee" jdbcType="DECIMAL" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="auditTime" property="audittime" jdbcType="TIMESTAMP" />
    <result column="applyTime" property="applytime" jdbcType="TIMESTAMP" />

    <association property="applier" javaType="com.hl.p2p.pojo.Logininfo" columnPrefix="ap_">
      <id column="id" property="id"/>
      <result column="username" property="username"/>
    </association>

    <association property="auditor" javaType="com.hl.p2p.pojo.Logininfo" columnPrefix="au_">
      <id column="id" property="id"/>
      <result column="username" property="username"/>
    </association>
  </resultMap>
  <sql id="base_column">
    m.id, m.banknumber, m.bankforkname, m.bankName, m.realName, m.moneyAmount, m.state, m.chargeFee,
    m.remark, m.auditTime, m.applyTime, ap.id as ap_id ,ap.username as ap_username ,
	au.id as au_id ,au.username as au_username
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select <include refid="base_column"/> from moneywithdraw m
    LEFT JOIN logininfo ap ON m.applier_id = ap.id
    LEFT JOIN logininfo au ON m.auditor_id =au.id
    where m.id=#{id}
  </select>
  <insert id="insert" parameterType="com.hl.p2p.pojo.Moneywithdraw" >
    insert into moneywithdraw (id, banknumber, bankforkname, 
      bankName, realName, moneyAmount, 
      state, chargeFee, remark, 
      auditTime, applyTime, auditor_id, 
      applier_id)
    values (#{id,jdbcType=BIGINT}, #{banknumber,jdbcType=VARCHAR}, #{bankforkname,jdbcType=VARCHAR}, 
      #{bankname,jdbcType=VARCHAR}, #{realname,jdbcType=VARCHAR}, #{moneyamount,jdbcType=DECIMAL}, 
      #{state,jdbcType=TINYINT}, #{chargefee,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR}, 
      #{audittime,jdbcType=TIMESTAMP}, #{applytime,jdbcType=TIMESTAMP}, #{auditor.id,jdbcType=BIGINT},
      #{applier.id,jdbcType=BIGINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.hl.p2p.pojo.Moneywithdraw" >
    update moneywithdraw
    set banknumber = #{banknumber,jdbcType=VARCHAR},
      bankforkname = #{bankforkname,jdbcType=VARCHAR},
      bankName = #{bankname,jdbcType=VARCHAR},
      realName = #{realname,jdbcType=VARCHAR},
      moneyAmount = #{moneyamount,jdbcType=DECIMAL},
      state = #{state,jdbcType=TINYINT},
      chargeFee = #{chargefee,jdbcType=DECIMAL},
      remark = #{remark,jdbcType=VARCHAR},
      auditTime = #{audittime,jdbcType=TIMESTAMP},
      applyTime = #{applytime,jdbcType=TIMESTAMP},
      auditor_id = #{auditor.id,jdbcType=BIGINT},
      applier_id = #{applier.id,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
 <sql id="where">
   <where>
   <if test="beginDate!=null">
     AND m.applyTime &gt;= #{beginDate}
   </if>
   <if test="endDate!=null">
     AND m.applyTime &lt;= #{endDate}
   </if>
   <if test="state>-1">
     AND  m.state = #{state}
   </if>
   </where>
 </sql>
  <select id="selectPage" resultMap="BaseResultMap" >
    select <include refid="base_column"/>
    from moneywithdraw m
    LEFT JOIN logininfo ap ON m.applier_id = ap.id
    LEFT JOIN logininfo au ON m.auditor_id =au.id
    <include refid="where"/>
    ORDER BY m.state DESC LIMIT #{start},#{pageSize}
  </select>
  <select id="selectCount" resultType="java.lang.Integer">
    select count(m.id) from moneywithdraw m
    LEFT JOIN logininfo ap ON m.applier_id = ap.id
    LEFT JOIN logininfo au ON m.auditor_id =au.id
    <include refid="where"/>
  </select>
</mapper>