<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hl.p2p.mapper.PaymentscheduledetailMapper" >
  <resultMap id="BaseResultMap" type="com.hl.p2p.pojo.Paymentscheduledetail" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="bidamount" property="bidamount" jdbcType="DECIMAL" />
    <result column="bid_id" property="bidId" jdbcType="BIGINT" />
    <result column="totalamount" property="totalamount" jdbcType="DECIMAL" />
    <result column="principal" property="principal" jdbcType="DECIMAL" />
    <result column="interest" property="interest" jdbcType="DECIMAL" />
    <result column="monthindex" property="monthindex" jdbcType="TINYINT" />
    <result column="deadline" property="deadline" jdbcType="TIMESTAMP" />
    <result column="bidrequest_id" property="bidrequestId" jdbcType="BIGINT" />
    <result column="paydate" property="paydate" jdbcType="TIMESTAMP" />
    <result column="returntype" property="returntype" jdbcType="TINYINT" />
    <result column="paymentschedule_id" property="paymentscheduleId" jdbcType="BIGINT" />
    <result column="tologininfo_id" property="tologininfoId" jdbcType="BIGINT" />
    <association property="fromlogininfo" javaType="com.hl.p2p.pojo.Logininfo" columnPrefix="bo_">
      <id column="id" property="id"/>
      <result column="username" property="username"/>
    </association>
  </resultMap>
  <insert id="insert" parameterType="com.hl.p2p.pojo.Paymentscheduledetail" >
    insert into paymentscheduledetail (id, bidamount, bid_id, 
      totalamount, principal, interest, 
      monthindex, deadline, bidrequest_id, 
      paydate, returntype, paymentschedule_id, 
      fromlogininfo_id, tologininfo_id)
    values (#{id,jdbcType=BIGINT}, #{bidamount,jdbcType=DECIMAL}, #{bidId,jdbcType=BIGINT}, 
      #{totalamount,jdbcType=DECIMAL}, #{principal,jdbcType=DECIMAL}, #{interest,jdbcType=DECIMAL}, 
      #{monthindex,jdbcType=TINYINT}, #{deadline,jdbcType=TIMESTAMP}, #{bidrequestId,jdbcType=BIGINT}, 
      #{paydate,jdbcType=TIMESTAMP}, #{returntype,jdbcType=TINYINT}, #{paymentscheduleId,jdbcType=BIGINT}, 
      #{fromlogininfo.id,jdbcType=BIGINT}, #{tologininfoId,jdbcType=BIGINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.hl.p2p.pojo.Paymentscheduledetail" >
    update paymentscheduledetail
    set bidamount = #{bidamount,jdbcType=DECIMAL},
      bid_id = #{bidId,jdbcType=BIGINT},
      totalamount = #{totalamount,jdbcType=DECIMAL},
      principal = #{principal,jdbcType=DECIMAL},
      interest = #{interest,jdbcType=DECIMAL},
      monthindex = #{monthindex,jdbcType=TINYINT},
      deadline = #{deadline,jdbcType=TIMESTAMP},
      bidrequest_id = #{bidrequestId,jdbcType=BIGINT},
      paydate = #{paydate,jdbcType=TIMESTAMP},
      returntype = #{returntype,jdbcType=TINYINT},
      paymentschedule_id = #{paymentscheduleId,jdbcType=BIGINT},
      fromlogininfo_id = #{fromlogininfo.id,jdbcType=BIGINT},
      tologininfo_id = #{tologininfoId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <sql id="where">
    <where>
       p.tologininfo_id=#{id}
      <if test="beginDate!=null">
        AND p.deadline &gt;= #{beginDate}
      </if>
      <if test="endDate!=null">
        AND p.deadline &lt;= #{endDate}
      </if>
    </where>
  </sql>
  <select id="selectPage" resultMap="BaseResultMap">
     select p.id, p.bidamount, p.bid_id, p.totalamount, p.principal, p.interest, p.monthindex, p.deadline,
    p.bidrequest_id, p.paydate, p.returntype, p.paymentschedule_id, p.tologininfo_id,
    bo.id as bo_id ,bo.username as bo_username
    from paymentscheduledetail p
    LEFT JOIN logininfo bo ON p.fromlogininfo_id = bo.id
    <include refid="where"/>
    ORDER BY p.deadline DESC LIMIT #{start},#{pageSize}
  </select>
  <select id="selectCount" resultType="java.lang.Integer">
    select count(p.id) from paymentscheduledetail p <include refid="where"/>
  </select>
</mapper>