<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hl.p2p.mapper.PaymentscheduleMapper" >
  <resultMap id="BaseResultMap" type="com.hl.p2p.pojo.Paymentschedule" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="deadLine" property="deadline" jdbcType="TIMESTAMP" />
    <result column="payDate" property="paydate" jdbcType="TIMESTAMP" />
    <result column="totalAmount" property="totalamount" jdbcType="DECIMAL" />
    <result column="principal" property="principal" jdbcType="DECIMAL" />
    <result column="interest" property="interest" jdbcType="DECIMAL" />
    <result column="monthIndex" property="monthindex" jdbcType="TINYINT" />
    <result column="state" property="state" jdbcType="TINYINT" />
    <result column="bidRequestType" property="bidrequesttype" jdbcType="TINYINT" />
    <result column="returnType" property="returntype" jdbcType="TINYINT" />
    <result column="bidrequest_id" property="bidrequestId" jdbcType="BIGINT" />
    <result column="biduser_id" property="biduserId" jdbcType="BIGINT" />
    <result column="bidRequestTitle" property="bidrequesttitle" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from paymentschedule
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hl.p2p.pojo.Paymentschedule" >
    insert into paymentschedule (id, deadLine, payDate, 
      totalAmount, principal, interest, 
      monthIndex, state, bidRequestType, 
      returnType, bidrequest_id, biduser_id, 
      bidRequestTitle)
    values (#{id,jdbcType=BIGINT}, #{deadline,jdbcType=TIMESTAMP}, #{paydate,jdbcType=TIMESTAMP}, 
      #{totalamount,jdbcType=DECIMAL}, #{principal,jdbcType=DECIMAL}, #{interest,jdbcType=DECIMAL}, 
      #{monthindex,jdbcType=TINYINT}, #{state,jdbcType=TINYINT}, #{bidrequesttype,jdbcType=TINYINT}, 
      #{returntype,jdbcType=TINYINT}, #{bidrequestId,jdbcType=BIGINT}, #{biduserId,jdbcType=BIGINT}, 
      #{bidrequesttitle,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.hl.p2p.pojo.Paymentschedule" >
    update paymentschedule
    set deadLine = #{deadline,jdbcType=TIMESTAMP},
      payDate = #{paydate,jdbcType=TIMESTAMP},
      totalAmount = #{totalamount,jdbcType=DECIMAL},
      principal = #{principal,jdbcType=DECIMAL},
      interest = #{interest,jdbcType=DECIMAL},
      monthIndex = #{monthindex,jdbcType=TINYINT},
      state = #{state,jdbcType=TINYINT},
      bidRequestType = #{bidrequesttype,jdbcType=TINYINT},
      returnType = #{returntype,jdbcType=TINYINT},
      bidrequest_id = #{bidrequestId,jdbcType=BIGINT},
      biduser_id = #{biduserId,jdbcType=BIGINT},
      bidRequestTitle = #{bidrequesttitle,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, deadLine, payDate, totalAmount, principal, interest, monthIndex, state, 
    bidRequestType, returnType, bidrequest_id, biduser_id, bidRequestTitle
    from paymentschedule
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, deadLine, payDate, totalAmount, principal, interest, monthIndex, state, 
    bidRequestType, returnType, bidrequest_id, biduser_id, bidRequestTitle
    from paymentschedule
  </select>
</mapper>