<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hl.p2p.mapper.UserfileMapper">
  <resultMap id="BaseResultMap" type="com.hl.p2p.pojo.Userfile">
    <id column="id" property="id" jdbcType="BIGINT"/>
    <result column="state" property="state" jdbcType="TINYINT"/>
    <result column="remark" property="remark" jdbcType="VARCHAR"/>
    <result column="auditTime" property="audittime" jdbcType="TIMESTAMP"/>
    <result column="applyTime" property="applytime" jdbcType="TIMESTAMP"/>
    <result column="score" property="score" jdbcType="TINYINT"/>
    <result column="file" property="file" jdbcType="VARCHAR"/>
    <association property="filetype" javaType="com.hl.p2p.pojo.Systemdictionaryitem" columnPrefix="f_">
      <id column="id" property="id"/>
      <result column="title" property="title"/>
    </association>
    <association property="applier" javaType="com.hl.p2p.pojo.Logininfo" columnPrefix="ap_">
      <id column="id" property="id"/>
      <result column="username" property="username"/>
    </association>

    <association property="auditor" javaType="com.hl.p2p.pojo.Logininfo" columnPrefix="au_">
      <id column="id" property="id"/>
      <result column="username" property="username"/>
    </association>
  </resultMap>
  <insert id="insetList">
    insert into userfile (applyTime,state,applier_id,file)
    values
    <foreach collection="list" item="v" separator=",">
      (#{v.applytime},#{v.state},#{v.applier.id}, #{v.file})
    </foreach>
  </insert>
  <sql id="base_up">
    <trim prefix="set" suffixOverrides=",">
      <if test="state!=null">
        state = #{state},
      </if>
      <if test="remark!=null">
        remark = #{remark},
      </if>
      <if test="audittime!=null">
        auditTime = #{audittime},
      </if>
      <if test="auditor!=null">
        auditor_id = #{auditor.id},
      </if>
      <if test="applier!=null">
        applier_id = #{applier.id},
      </if>
      <if test="score!=null">
        score = #{score},
      </if>
      <if test="filetype!=null">
        filetype_id = #{filetype.id},
      </if>
    </trim>
  </sql>
  <update id="updateByPrimaryKey" parameterType="com.hl.p2p.pojo.Userfile">
    update userfile
    <include refid="base_up"/>
    where id = #{id}
  </update>

  <sql id="base_column">
    r.id, r.state, r.remark, r.auditTime, r.applyTime, r.score, r.file, ap.id as ap_id ,ap.username as ap_username ,
	au.id as au_id ,au.username as au_username, f.id as f_id ,f.title as f_title
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="long">
    SELECT
    <include refid="base_column"/>
    FROM userfile r
    JOIN logininfo ap ON r.applier_id = ap.id
    LEFT JOIN logininfo au ON r.auditor_id =au.id
    LEFT JOIN systemdictionaryitem f ON r.filetype_id =f.id
    WHERE r.id=#{id}
  </select>
  <select id="selectFiletype" resultMap="BaseResultMap">
    SELECT
    <include refid="base_column"/>
    FROM userfile r
    JOIN logininfo ap ON r.applier_id = ap.id
    LEFT JOIN logininfo au ON r.auditor_id =au.id
    LEFT JOIN systemdictionaryitem f ON r.filetype_id =f.id
    WHERE r.applier_id =#{id} AND r.filetype_id
    <if test="!type">
      IS NULL
    </if>
    <if test="type">
      IS NOT NULL
    </if>
  </select>
  <sql id="condition">
    <where>
      filetype_id IS NOT NULL
      <if test="beginDate!=null">
        AND audittime &gt;= #{beginDate}
      </if>
      <if test="endDate!=null">
        AND audittime &lt;= #{endDate}
      </if>
      <if test="state>-1">
        AND state = #{state}
      </if>
    </where>
  </sql>
  <select id="selectCount" resultType="java.lang.Integer">
    SELECT COUNT(id) FROM userfile
    <include refid="condition"/>
  </select>
  <select id="selectPage" resultMap="BaseResultMap" resultType="com.hl.p2p.query.UserFileQueryObject">
    SELECT
    <include refid="base_column"/>
    FROM userfile r
    JOIN logininfo ap ON r.applier_id = ap.id
    LEFT JOIN logininfo au ON r.auditor_id =au.id
    LEFT JOIN systemdictionaryitem f ON r.filetype_id =f.id
    <include refid="condition"/>
    ORDER BY r.state ASC LIMIT #{start},#{pageSize}
  </select>
  <select id="selectScore" resultType="java.lang.Integer" parameterType="long">
    SELECT SUM(score) FROM userfile WHERE applier_id = #{id} AND  filetype_id IS NOT NULL
  </select>
</mapper>