<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hl.p2p.mapper.VedioauthMapper" >
  <resultMap id="BaseResultMap" type="com.hl.p2p.pojo.Vedioauth" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="state" property="state" jdbcType="TINYINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="auditTime" property="audittime" jdbcType="TIMESTAMP" />
    <result column="applyTime" property="applytime" jdbcType="TIMESTAMP" />
    <result column="auditor_id" property="auditorId" jdbcType="BIGINT" />
    <result column="applier_id" property="applierId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="base_column">
    id, state, remark, auditTime, applyTime, auditor_id, applier_id
  </sql>
  <insert id="insert" parameterType="com.hl.p2p.pojo.Vedioauth" >
    insert into vedioauth (id, state, remark, 
      auditTime, applyTime, auditor_id, 
      applier_id)
    values (#{id,jdbcType=BIGINT}, #{state,jdbcType=TINYINT}, #{remark,jdbcType=VARCHAR}, 
      #{audittime,jdbcType=TIMESTAMP}, #{applytime,jdbcType=TIMESTAMP}, #{auditorId,jdbcType=BIGINT}, 
      #{applierId,jdbcType=BIGINT})
  </insert>
  <sql id="where">
    <where>
      <if test="beginDate!=null">
        AND applyTime &gt;= #{beginDate}
      </if>
      <if test="endDate!=null">
        AND applyTime &lt;= #{endDate}
      </if>
      <if test="state>-1">
        AND  state = #{state}
      </if>
      <if test="keyword!=null and keyword!=''">
        and auditor_id like concat(concat("%",#{keyword}),"%")
        OR applier_id like concat(concat("%",#{keyword}),"%")
        OR state like concat(concat("%",#{keyword}),"%")
      </if>
    </where>
  </sql>
  <select id="selectVedioPage" resultMap="BaseResultMap" parameterType="com.hl.p2p.query.VedioQueryObject">
    SELECT <include refid="base_column"/>
    FROM vedioauth <include refid="where"/>
    ORDER BY state DESC LIMIT #{start},#{pageSize}
  </select>
  <select id="selectCount" resultType="java.lang.Integer">
    SELECT COUNT(id) FROM vedioauth <include refid="where"/>
  </select>
</mapper>